<div {background-color: Yellow;
      font-family: Arial;
      text align;
    Padding; 50px;
    Margin; 80px;
    Border: 10px solid black
      }
</div>

<h1
<div {font-style: italics;
      Padding: 50px;
      Margin: 80px;
      Border: 10px solid black;
      Padding-top: 10px;
      }
</h1>
