<div 
{background-color: white;
      font-family: Arial;
      text align;
    Padding; 50px;
    Margin; 80px;
    Border: 10px solid black
      }
</div>

<h1
<div {font-style: Underline;
      Padding: 50px;
      Margin: 80px;
      Border: 10px solid black;
      Padding-top: 10px;
      }       
</div>
</h1>
