<body>
<div background-color: Blue;
      font-family: Arial;
      text align;
    Padding; 50px;
    Margin; 80px;
    Border: 10px solid black
      }

<h1
<div {font-style: Underline;
      Padding: 50px;
      Margin: 80px;
      Border: 10px solid black;
      Padding-top: 10px;
      }
</h1>
